.container {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}

.coluna {
    background: lightgray;
    padding: 20px;
    border-radius: 8px;
}

.destaque {
    background: white;
    border: 2px solid #333333;
}